button {
    background-color: var(--accent-color);
    color: var(--foreground-color);
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
    border: solid 2px var(--border-color);
}

button:active {
    background-color: var(--pressed-link-color);
    padding: 8px;
    margin: 10px;
    border: dotted 2px var(--border-color);
}